<!DOCTYPE html>
<!--
	Interphase by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Doatz</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/skel.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-xlarge.css') }}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><a href="{{ url_for('my_index') }}">Doatz</a></h1>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major">
						<h2>Create vote</h2>
						<p>Please specify the candidates and attender emails.</p>
					</header>

					<!-- Form -->
						<section>
							<h3>Form</h3>
							<form method="post" action="#">
								<div class="row uniform 50%">
									<div class="12u 12u$(xsmall)">
										<input type="text" name="name" id="name" value="" placeholder="Specify the Vote Name" />
									</div>
									<div class="12u$">
										Enter start date:
										<input type="date" name="sdate" id="sdate" placeholder="Enter start date"/>
										<input type="time" name="stime" id="stime" placeholder="Enter start time"/>
										Enter end date:
										<input type="date" name="edate" id="edate" placeholder="Enter end date"/>
										<input type="time" name="etime" id="etime" placeholder="Enter end time"/>
									</div>
									<div class="12u$">
										<textarea name="candidates" id="message" placeholder="Enter your candidates, separate by ','" rows="6"></textarea>
									</div>
									<div class="12u$">
										<textarea name="attenders" id="message" placeholder="Enter your attenders' email, separate by','" rows="6"></textarea>
									</div>
									<div class="12u$">
										<ul class="actions">
											<li><input type="submit" value="Submit" class="special" /></li>
											<li><input type="reset" value="Reset" /></li>
										</ul>
									</div>
								</div>
							</form>
						</section>
						<script type="text/javascript" src= "{{ url_for('static', filename='js/jquery.min.js') }}" ></script>
						<script type="text/javascript" src= "{{ url_for('static', filename='js/skel.min.js') }}" ></script>
						<script type="text/javascript" src= "{{ url_for('static', filename='js/skel-layers.min.js') }}" ></script>
						<script type="text/javascript" src= "{{ url_for('static', filename='js/init.js') }}" ></script>

	</body>
</html>
