<!DOCTYPE html>
<!--
	Interphase by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Doatz</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skel.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-xlarge.css') }}" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header">
				<h1><a href="{{ url_for('my_index') }}">Doatz</a></h1>
			</header>

		<!-- Banner -->
			<section id="banner">
				<h2>Doatz</h2>
				<p>A Blockchain Based E-voting system.</p>
				<ul class="actions">
					<li>
						<a href="{{ url_for('create_vote') }}"class="button big">Create a vote</a>
            <a href="{{ url_for('attend_vote') }}"class="button big">Enter a vote</a>
						<a href="{{ url_for('votingDetail') }}"class="button big">Check a vote</a>
					</li>
				</ul>
			</section>

      <script type="text/javascript" src= "{{ url_for('static', filename='js/jquery.min.js') }}" ></script>
      <script type="text/javascript" src= "{{ url_for('static', filename='js/skel.min.js') }}" ></script>
      <script type="text/javascript" src= "{{ url_for('static', filename='js/skel-layers.min.js') }}" ></script>
      <script type="text/javascript" src= "{{ url_for('static', filename='js/init.js') }}" ></script>
	</body>
</html>
